body {
  background-image: linear-gradient(
    to right top,
    rgb(5, 20, 42),
    rgb(5, 26, 65),
    rgb(23, 30, 86),
    rgb(50, 29, 106),
    rgb(81, 18, 122)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat", serif;
  font-weight: 600;
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.container {
  margin: auto;
  margin-top: 250px;
  background-color: #000000;
  color: #ececec;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 5px 5px 42px rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(0, 255, 255);
}

.text {
  margin: auto;
  width: 300px;
  height: 35px;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
}

.button {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: solid 2px rgb(53, 53, 53);
  background-color: rgb(41, 41, 41);
  color: #ececec;
  font-size: 25px;
}

.output {
  color: rgb(0, 179, 179);
}
